.App {
  text-align: center;
}
.center {
  display: flex;
  justify-content: center;
}
/* z-index property -1 allows the particles background to go behind the rest of the site */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
